/***********
 * GENERAL *
 ***********/
@font-face {
  font-family: Delicious;
  src: url('Delicious-Roman.otf');
}

@font-face {
  font-family: Delicious;
  font-weight: bold;
  src: url('Delicious-Bold.otf');
}

@font-face {
  font-family: Delicious;
  font-style: italic;
  src: url('Delicious-Italic.otf');
}

@font-face {
  font-family: Delicious;
  font-style: italic;
  font-weight: bold;
  src: url('Delicious-BoldItalic.otf');
}

* {
  outline: none;
}

body {
  background: #78a9ff url('bg.png') 0 75px repeat-x;
  background-attachment: scroll;
  margin: 0;
}

body.mceContentBody {
  background-image: none;
}

body, textarea {
  color: #005e9f;
  font-family: arial, sans-serif;
  font-size: 11pt;
  line-height: 1.5em;
}

body.mceContentBody, #content {
  background-color: #9abeff;
}

a img {
  border-width: 0;
}



/**********
 * HEADER *
 **********/

#header {
  background: #00717b url('bg-header.png') repeat-x;
  color: #fff;
  font-family: georgia, 'Palatino Linotype', serif;
  font-size: 50px;
  height: 75px;
}

#header div {
  margin: auto;
  width: 800px;
  padding: 8px 0 0 0;
}

#header span {
  font-family: 'Delicious', sans-serif;
  font-size: 32pt;
  font-weight: bold;
  letter-spacing: 1pt;
  margin-top: 38px;
  float: right;
}



/*************
 * CONTAINER *
 *************/

#main {
  width: 800px;
  margin: 40px auto;
}



/*******
 * NAV *
 *******/

#nav {
  float: left;
  font-family: 'Trebuchet MS', arial, sans-serif;
  width: 184px;
}

#nav ol {
  list-style: none;
  padding-left: 0;
}

#nav a {
  color: #005e9f;
  display: block;
  font-size: 11pt;
  text-decoration: none;
}

#nav > ol > li {
  margin-bottom: 16px;
}

#nav > ol > li > a {
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  color: #005e9f;
  font-weight: bold;
  line-height: 1.2em;
}

#nav > ol > li > a:after {
  visibility: hidden;
  content: '\25b8';
  margin-left: 0.5em;
}

#nav > ol > li > a:hover:after {
  visibility: visible;
}

#nav li li {
  display: none;
}

#nav li.active li {
  display: inherit;
}

#nav li li a:hover {
  text-decoration: underline;
}



/***********
 * CONTENT *
 ***********/

#content {
  background-image: url('bg-content.png');
  background-repeat: repeat-x;
  float: right;
  margin-bottom: 40px;
  min-height: 300px;
  padding: 16px;
  width: 568px;

  border-radius: 5px;
  -moz-border-radius: 5px;
}


/* Content headers */

#content h1, #content h2 {
  margin: 2px 0 0.5em 0 !important;
}

#content h1, #content form h1 input {
  color: #f5d900;
  font-size: 24pt;
  font-weight: bold;
  text-align: right;
}

#content h2, #content form h2 input {
  color: #fff;
  font-size: 18pt;
  font-weight: bold;
  text-align: right;
}

#content h1, #content h2, #content form h1 input, #content form h2 input {
	font-family: 'Delicious', 'Trebuchet MS', arial, sans-serif;
}



/* Content element */

#content .element {
  margin-bottom: 16px;
  min-height: 32px;
  width: 100%;
}

#content .image {
  display: inline-block;
  float: right;
  margin: 0 0 0 16px;
  width: auto;
}

#content .image img {
  float: right;
  border-radius: 5px;
  -moz-border-radius: 5px;
}

#content .gallery a {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
}

#content .gallery img {
  border-radius: 5px;
  -moz-border-radius: 5px;
}

#content .element > a {
  display: none;
}

#content .show_image {
  text-align: center;
}

#content .show_image img {
  display: block;
  margin: 0 auto 8px auto;
  border-radius: 5px;
  -moz-border-radius: 5px;
}

#content.manage .element:hover {
  background-color: #78a9ff;
}

#content.manage .element > a {
  background-color: #005e9f;
  opacity: 0.5;
  color: #fff;
  display: none;
  float: left;
  font-size: 8pt;
  font-weight: bold;
  overflow: hidden;
  position: absolute;
  text-align: right;
  text-decoration: none;
  width: 32px;
  height: 32px;
}

#content.manage .element:hover > a {
  display: inline-block;
}

#content.manage .element > a:hover {
  opacity: 1.0;
}

#content.manage .element > a:first-child {
  margin-left: 0;
}

#content.manage .element > a:nth-child(2) {
  margin-left: 48px;
}

#content.manage .element > a:nth-child(3) {
  margin-left: 96px;
}



/* Content form */

#content form fieldset {
  padding: 0;
  margin: 0;
  border-width: 0;
}

#content form ol {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
}

#content form label {
  display: none;
}

#content form input {
  margin: 0 !important;
}

#content form h1 input {
  background-color: rgba(255, 255, 255, 0.5);
}

#content form h1 input,
#content form h2 input,
#content form textarea {
  border: 1px solid #ddd;
  width: 100%;
}

#content form h2 input,
#content form textarea {
  background-color: #9abeff;
}

#content form fieldset > input,
#content form fieldset > a {
}


#content form fieldset > input {
  background-color: #005e9f;
  border-color: #033;
  color: #fff;
  height: 32px;
}

#content form fieldset > a {
  background-color: #fff;
  border-color: #ddd;
  color: #005e9f;
  display: inline-block;
  margin-left: 16px;
  text-align: center;
  text-decoration: none;
}

#content form fieldset > input,
#content form fieldset > a {
  border-width: 1px;
  border-style: solid;
  float: left;
  font-size: 9pt;
  font-weight: bold;
  padding: 4px 16px;

  border-radius: 5px;
  -moz-border-radius: 5px;
  opacity: 0.5;
}

#content form fieldset > a:hover {
  cursor: default;
}

#content form fieldset > input:hover,
#content form fieldset > a:hover {
  opacity: 1.0;
}

