<h1>Pages#index</h1>

<table>
  <thead>
    <th>Title</th>
    <th colspan="2" />
  </thead>
  <tbody>
    <% @pages.each do |page| %>
      <td><%= link_to page.title, page %></td>
      <td><%= link_to 'Edit', edit_page_path(page) %></td>
    <% end %>
  </tbody>
</table>

<%= link_to 'New', new_page_path %>
