<div class="element">
  <h1><%= @page.title %></h1>
</div>

<div class="gallery" id="elements">
  <% @page.elements.ordered.each do |element| %>
    <%= link_to image_tag(element.image.url(:thumb)), gallery_image_path(@page, element) if element.image.exists? %>
  <% end %>
</div>
