<div id="element_<%= text.id %>" class="element">
  <%= link_to 'Edit', edit_page_text_path(@page, text) %>
  <%= link_to 'Del', page_text_path(@page, text), :method => :delete, :confirm => 'Delete?' %>
  <%== text.text %>
</div>
